node_modules

# Remix build artefacts
/server/index.js
/app/styles/tailwind.css
/public/build
.env

# Test artefacts
/cypress/screenshots
/cypress/videos


# CDK asset staging directory
.cdk.staging
cdk.out