# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules
dist

# Remix build artefacts
packages/template/server/
packages/template/app/styles/tailwind.css
packages/template/public/build
.env

# Test artefacts
/cypress/screenshots
/cypress/videos


# CDK asset staging directory
.cdk.staging
cdk.out

# Ignore graphviz files
*.dot

# Log files
*.log